.edge {
  position: absolute;
  background: transparent;
  overflow: visible;
  z-index: 1;
  pointer-events: none;

  & .edge__line {
    stroke: color-mix(in srgb, var(--color-primary) 60%, var(--color-950));
    stroke-width: 5px;
    pointer-events: auto;

    &:not(.edge__line--ghost):hover {
      stroke: var(--color-accent);
      cursor: pointer;
    }
  }

  &.edge--ghost {
    & .edge__line {
      stroke: var(--color-200);
      stroke-width: 2px;
      stroke-dasharray: 5, 5;
    }
  }
}
