@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #0a2666;
  --color-primary: #1a60ff;
  --color-accent: #ff9f19;
  --color-text-light: #fff;
  --color-text-dark: #000;
  --color-background: var(--color-gray-light);

  background: var(--color-background);
  color: var(--color-text-dark);
  font-family:
    "Inclusive Sans",
    -apple-system,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input,
select,
textarea {
  --input-background: oklch(from var(--color-gray-dark) l c h / 40%);

  background-color: var(--input-background);
  border: none;
  color: var(--color-text-light);
  font-family: "DM mono", monospace;
  font-size: inherit;
  border-radius: 0.125rem;
}
