.node {
  --node-input-ports: 0;
  --node-output-ports: 0;
  --node-port-size: var(--spacing-3);
  --node-port-hover-target-extend: var(--spacing-2);

  position: absolute;
  background: var(--color-primary);
  color: var(--color-text-light);
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  cursor: default;
  z-index: 2;
  transform: translate(-50%, -50%);
  min-width: calc(
    max(var(--node-input-ports), var(--node-output-ports)) *
      calc(var(--node-port-size) + calc(var(--node-port-hover-target-extend) * 2))
  );

  @for $i from 0 to 16 {
    &[data-input-ports="$i"] {
      --node-input-ports: $i;
    }

    &[data-output-ports="$i"] {
      --node-output-ports: $i;
    }
  }

  &.node--dragging {
    cursor: grabbing;
  }

  & .node__wrapper {
    position: relative;
    pointer-events: none;

    & .node__ports {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 0;

      &.node__ports--input {
        top: 0;
      }

      &.node__ports--output {
        bottom: 0;
      }
    }

    & .node__content {
      display: flex;
      flex-direction: column;
      padding: var(--spacing-2) var(--spacing-3);
      gap: var(--spacing-2);

      & .node__head {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-2);
        padding: 0;

        & .node__label {
          text-overflow: ellipsis;
          text-wrap: nowrap;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          gap: 0.25rem;
        }
      }

      & .node__body {
        display: flex;

        & input {
          pointer-events: auto;
        }
      }
    }
  }

  &.node--selected {
    box-sizing: content-box;
    border: 3px solid var(--color-accent);
  }

  &.node--in-selection-range {
    box-sizing: content-box;
    border: 3px solid var(--color-accent);
  }
}
