.node {
  --node-color-bg: var(--color-primary);
  --node-padding: 0.325rem;
  --node-border-radius: 0.075rem;
  --color-surface: var(--node-color-bg);
  --color-text: var(--color-text-light);
  --color-disabled: color-mix(in srgb, var(--color-text) 50%, var(--color-surface));
  --node-input-ports: 0;
  --node-output-ports: 0;
  --node-port-size: 10px;
  --node-port-hover-target-extend: 0.5rem;

  position: absolute;
  background: var(--color-surface);
  color: var(--color-text);
  border-radius: var(--node-border-radius);
  font-size: 0.8rem;
  cursor: default;
  z-index: 2;
  transform: translate(-50%, -50%);
  min-width: calc(
    max(var(--node-input-ports), var(--node-output-ports)) *
      calc(var(--node-port-size) + calc(var(--node-port-hover-target-extend) * 2))
  );

  @for $i from 0 to 16 {
    &[data-input-ports="$i"] {
      --node-input-ports: $i;
    }

    &[data-output-ports="$i"] {
      --node-output-ports: $i;
    }
  }

  &.node--dragging {
    cursor: grabbing;
  }

  & .node__wrapper {
    position: relative;
    pointer-events: none;

    & .node__ports {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-around;
      height: 0;

      &.node__ports--input {
        top: 0;
      }

      &.node__ports--output {
        bottom: 0;
      }
    }

    & .node__content {
      display: flex;
      flex-direction: column;
      padding: calc(var(--node-padding) + 0.125rem) var(--node-padding);
      gap: var(--node-padding);

      & .node__head {
        display: flex;
        flex-direction: row;
        gap: var(--node-padding);
        padding: 0;

        & .node__label {
          text-overflow: ellipsis;
          text-wrap: nowrap;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          gap: 0.25rem;
        }
      }

      & .node__body {
        display: flex;
        flex: 1;

        & input {
          pointer-events: auto;
        }
      }
    }
  }

  &.node--selected {
    border: 3px solid color-mix(in srgb, var(--color-accent) 70%, var(--color-gray-light));
  }

  &.node--in-selection-range {
    border: 3px solid color-mix(in srgb, var(--color-accent) 70%, var(--color-gray-dark));
  }
}
