.node[data-kind^="param"] {
  min-width: 8rem;

  &[data-kind="param:input"] {
    min-width: 6rem;
    width: 6rem;
  }

  &[data-kind="param:button"] {
    min-width: 6rem;
    width: 6rem;
  }

  & .node__value {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    color: color-mix(in srgb, var(--color-surface) 30%, var(--color-gray-dark));
    overflow: hidden;
  }

  & .node__body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 2rem;
    padding: 0.25rem;

    & input {
      --input-accent-color: var(--color-accent);

      &:hover {
        --datagraph-input-accent-color: color-mix(
          in srgb,
          var(--color-accent) 90%,
          var(--color-gray-light)
        );
      }

      &.node__input--active {
        --datagraph-input-accent-color: color-mix(
          in srgb,
          var(--color-accent) 90%,
          var(--color-gray-dark)
        );
      }
    }

    & input[type="button"] {
      background: var(--input-accent-color);
      border-radius: 4px;
      border: 1px solid color-mix(in srgb, var(--input-accent-color) 70%, var(--color-gray-light));
      flex: 1;
    }

    & input[type="range"] {
      background: var(--color-background);
      accent-color: var(--input-accent-color);
    }

    & .number-input {
      height: 1.5rem;
      width: 100%;
    }
  }
}
