.datafield {
  --datafield-value-border-radius: 0.125rem;

  display: flex;
  justify-content: center;
  align-items: center;

  & .datafield__label {
    font-size: 0.875rem;
    vertical-align: bottom;
    flex-shrink: 0;
    flex-basis: 30%;
  }

  & .datafield__value {
    height: 100%;
    width: 100%;
    line-height: var(--datafield-height);
    flex-grow: 1;
    text-align: right;
    font-family: "DM Mono", monospace;
    user-select: text;
  }

  &.datafield--disabled {
    & .datafield__label {
      opacity: 0.3;
    }
  }
}
