.datafield {
  --datafield-height: 1.33rem;
  --datafield-value-border-radius: 0.125rem;

  display: flex;
  justify-content: center;
  height: var(--datafield-height);
  align-items: center;

  & .datafield__label {
    flex-shrink: 0;
    flex-basis: 30%;
  }

  & .datafield__value {
    height: 100%;
    line-height: var(--datafield-height);
    flex-grow: 1;
    background-color: oklch(from var(--color-gray-dark) l c h / 20%);
    text-align: right;
    font-family: "DM Mono", monospace;
    user-select: text;
    color: oklch(from var(--color-text-light) l c h / 80%);
    border-radius: var(--datafield-value-border-radius);

    &:not(:has(> input, > select)) {
      padding: 0 0.25rem;
    }

    & > input,
    & > select {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: var(--datafield-value-border-radius);
    }

    & > input[type="number"] {
      text-align: right;
      padding: 0 0.25rem;

      /* Firefox */
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }
}
