.contextview {
  --contextview-color-bg: var(--color-primary);
  --contextview-padding: 0.75rem;
  --color-text: var(--color-text-light);
  --color-text-alternative: var(--color-text-dark);
  --color-text-disabled: color-mix(in srgb, var(--color-text) 50%, var(--color-surface));
  --color-surface: var(--contextview-color-bg);

  padding: var(--contextview-padding);
  width: 100%;
  height: 100%;
  background-color: var(--color-surface);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: var(--contextview-padding);
  cursor: auto;
  pointer-events: auto;
  user-select: auto;
  overflow-y: auto;

  & .contextview__header {
    & .contextview__title {
      margin: 0;
      font-size: 1.25rem;
      font-weight: bold;
    }

    & .contextview__classpath {
      color: color-mix(in srgb, var(--color-text) 70%, var(--color-surface));
    }

    & .contextview__classname {
      font-weight: bold;
    }

    & .contextview__nodeid {
      color: color-mix(in srgb, var(--color-surface) 40%, var(--color-text-alternative));
      font-family: "DM Mono", monospace;
      font-size: 0.8rem;
    }
  }

  & h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: var(--contextview-padding);
  }

  & h3 {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: -0.25rem;
    text-transform: uppercase;
    width: 100%;
    text-align: right;
    color: color-mix(in srgb, var(--color-text-alternative) 40%, var(--color-surface));
  }

  & .contextview__section {
    display: flex;
    flex-direction: column;
    gap: calc(var(--contextview-padding) * 1 / 3);
  }
}
