.datagraph {
  user-select: none;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  & .datagraph__canvas {
    flex: 1;
  }

  & .datagraph__context-view {
    flex-basis: min(30%, 400px);
  }
}
