.node-ports-settings {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  .node-ports-settings__port {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);

    .node-ports-settings__datafields {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-half);
    }
  }

  h3 {
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    text-align: right;
    color: var(--color-100);
  }

  .node-ports-settings__live-data {
    color: var(--color-200);
  }

  .node-ports-settings__absent-text {
    color: var(--color-300);
  }
}
